@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*----- General -----*/

/* Removes the background image */
body {
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -2px;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 12px;
}

h2, h3, p {
  margin: 20px 30px;
}

ul {
  padding-left: 0;
}

/*----- Header -----*/

h1 {
  font-size: 2em;
  padding-left: 1em;
}

/* Removes the navmenu */
nav {
  display: none;
}

a {
  color: #222;
  text-decoration: none;
}

/*----- Short info -----*/

/* Removes bullet points, italicises and makes the quotes feel more like quotes. */
#short_info ul {
  list-style-type: none;
  display: flex;
  margin-top: 20px;
}

#short_info ul li{
  font-family: URW Chancery L, cursive;
  font-size: 2em;
  padding-bottom: 70px;
  flex: 1;
  text-align: center;
  text-shadow: none; /* In printing shadowing did not look as good */
}


/*----- Main info -----*/

.wrapper {
  display: flex;
}

/* Adds a border to each textbox to have them be distinct against white paper */
.pic_box {
  flex: 1;
  border: 2px solid black;
  margin-top: 2em;
  padding-top: 1em;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}

/* Changes the images into circles and moves them above the pic_boxes */
.pic_box img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid white;
  display: block;
  box-sizing: border-box;
  margin-top: -60px;
}

.pic_box h3, .pic_box p {
  margin-left: 5px;
  margin-right: 5px;
}

/* Aligns the images to match the template given */
#left_box img {
  margin-right: auto;
}

#mid_box img {
  margin-left: auto;
  margin-right: auto;
}

#right_box img {
  margin-left: auto;
}

/*----- Footer -----*/

footer {
  display: flex;
}

.footer_box {
  flex: 1;
  color: black;
  text-shadow: none; /* In printing shadowing did not look as good */
  text-align: center;
}

.footer_box p, .footer_box h3 {
  margin: 15px 30px;
}

/*----- Processanalys -----*/

#processanalys_text {
  padding: 0;
}
